#!/usr/bin/python3

import re,os

d  = '/etc/opendkim/keys/{{ domain }}/{{ date }}.txt'
ef = '/home/{{ user }}/.env'

f=[line.replace('\n',' ') for line in open(d)]

t = re.findall('"([^"]*)"',' '.join(f))

with open(ef,'w') as file:
    file.write('D1='+t[0]+'\n')
    file.write('D2='+t[1]+'\n')
    file.write('D3='+t[2]+'\n')
